<h3>PUT YOUR FUCTION HERE</h3>
<textarea cols="50" rows="31">
" myFunc(.......){
  if(..){
  ......
  ......
  if(..){
  ......
  ......
  }
  else{
  ......
  ......
  ......
  ......
  }
  ......
  ......
  }
  while(......){
    ......
  for(  ......){
    ......
  if(....){
  ..
  ..
  }
  else{
  ...
  ..
  }
  ......
}
  ......
}
  while(  ......){
    ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
    ......
  ......
  ......
    ......
  ......
  ......
    ......
  ......
  ......
}
  }
  "
</textarea>
