<h3>Please insert a function</h3>
<textarea cols="50" rows="25" #functionTextSend (keyup)="onchange(functionTextSend.value)" >
    public void Maximum(int max){
int x=5;
int y=9;
int z=0;
while(){
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
for(int i=0; i<8;i++){
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
e++;
x=w;
a=x;
while(){
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
else{
e++;
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
while(){
m++;
e++;
x=w;
a=x;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
while(){
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
e++;
}
}
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
}
switch(expression) {
   case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
      default : z++;

}
  if(){
  s++;
  v++;
  l++;
  }
else(){
for(int i=0; i<8;i++){
e++;
x=w;
a=x;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
for(int i=0; i<8;i++){
e++;
x=w;
a=x;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
else{
e++;
}
}
}
for(int i=0; i<8;i++){
e++;
x=w;
a=x;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
while(){
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
}
}
for(int i=0; i<8;i++){
e++;
x=w;
a=x;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
else{
e++;
}
}
}
else{
e++;
}
}
}
  if(){
  m++;
  o++;
  u++;
  s++;
  a++;
  }
}
while{
switch(expression) {
   case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
 case value :
      x++;
      break;
   case value :
      y++
      break;
      default : z++;

}
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
else{
e++;
while(){
m++;
e++;
x=w;
a=x;
if(){
w++;
q++;
e++;
e++;
}
else{
e++;
}
}
}
}
}

</textarea>
