<h3>Please insert a function</h3>
<textarea cols="50" rows="28">
" myFunc(.......){
  if(..){
  ......
  ......
  if(..){
  ......
  ......
  }
  else{
  ......
  ......
  ......
  ......
  }
  ......
  ......
  }
  while(......){
    ......
  for(  ......){
    ......
  if(....){
  ..
  ..
  }
  else{
  ...
  ..
  }
  ......
}
  ......
}
  while(  ......){
    ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
  ......
    ......
  ......
  ......
    ......
  ......
  ......
    ......
  ......
  ......
}
  }
  "
</textarea>
