<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin: auto">
<h1>Interactive Control Structure Diagram</h1>
  <div id="header" style="margin: auto"></div>
  <table align="center">
  <tr > <button class="clear" (click)="hideDiagram()">Hide Func</button>-//-<button class="clear" (click)="showDiagram()">Show Func</button> </tr>
  <tr>  <button class="clear" (click)="build()">Convert Function</button>
  </tr>
  <tr>
    <div *ngIf="hide"><td style="width:500px; vertical-align:top;"><app-form (SendEvent)="fT.value=$event"></app-form></td></div>
    <td><input type="hidden" #fT (keyup)="0"><app-diagram #component1 [functionText]="fT.value"></app-diagram></td>
  </tr>
</table>
</div>
