  <div id="diagramXXX" *ngIf="functionText"></div>
  <div>
  <table id="functionBerAst" width="100%">
    <tr>

      <!--   <td *ngFor="let field of fieldA" align="center" width="100%">
           <textarea rows="25" align="center">{{field}}</textarea>
         </td> -->
       </tr>
     </table>
     </div>



   <div id="dialog1" title="Code">
    <p id="dialogText1"></p>
   </div>
   <div id="dialog2" title="Code">
     <p id="dialogText2"></p>
   </div>
   <div id="dialog3" title="Code">
     <p id="dialogText3"></p>
   </div>
   <div id="dialog4" title="Code">
     <p id="dialogText4"></p>
   </div>


  <div id="dialogSim" title="Similarity ratios">
    <p id="dialogTextSim"></p>
  </div>




  <div id="dialogFunc" title="Function">
    <textarea autofocus id="func2" style="width:750px; height:500px;" [(ngModel)]="functionText" #functionTextSend (keyup)="onchange(functionTextSend.value)"></textarea>
  </div>
<div id="dialogHelp" title="Help">
  <h1>What is ICSD?</h1>
  Interactive Control Structure Diagram is a web program that reads a programming code function, identifies the structure of the function and draws a diagram that describes the function's structure. <BR><br>the diagram allows to learn about the function's structure and to detect duplicate/clone code.
</div>
  <div id="dialogSave" title="Save">
    <b>This feature is not available right now.</b><br><br>

    Please enter a few keywords that describe the structure of the function and separate by a " , "<br><br>
    <input id="keywords" type="text">
    Recommended keywords: test, test, test .........
  </div>
