  <div id="diagramXXX" *ngIf="functionText"></div>
  <div>
  <table id="functionBerAst" width="100%">
    <tr>

      <!--   <td *ngFor="let field of fieldA" align="center" width="100%">
           <textarea rows="25" align="center">{{field}}</textarea>
         </td> -->
       </tr>
     </table>
     </div>



     <div id="dialog1" title="Code">
       <textarea style="width:460px; height:422px;" id="dialogText1" disabled></textarea>
     </div>
     <div id="dialog2" title="Code">
       <textarea style="width:460px; height:422px;" id="dialogText2" disabled></textarea>
     </div>
     <div id="dialog3" title="Code">
       <textarea style="width:460px; height:422px;" id="dialogText3" disabled></textarea>
     </div>
     <div id="dialog4" title="Code">
       <textarea style="width:460px; height:422px;" id="dialogText4" disabled></textarea>
     </div>
